* {
    font-size: 1.1rem;
    
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;

    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

body {
    width: 100%;
    padding: 0;
    margin: 0;
    border-top: 5px solid rgb(255, 77, 6);
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    font-size: 1rem;
}


p, a, span, time, li, em, b, strong, i  {
    font-size: .9rem;
    line-height: 1.5;
    margin: 0;
    margin-bottom: .75em;
}

li {
    margin-bottom: .25em;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
}

h1 { display: block; font-size: 2em; margin-top: 1.25em; margin-bottom: .75em; }
h2 { display: block; font-size: 1.17em; text-transform: uppercase; margin-top: 1.25em; margin-bottom: .25em; }
h3 { display: block; font-size: 1.17em; margin-top: 1.25em; margin-bottom: .25em; }
h4 { display: block; font-size: 1em; margin-top: 1.25em; margin-bottom: .25em; }
h5 { display: block; font-size: .83em; margin-top: 1.25em; margin-bottom: .25em; }
h6 { display: block; font-size: .67em; margin-top: 1.25em; margin-bottom: .25em; }

header > h1 {
    font-size: 1.5em; font-weight: bold; text-transform: uppercase;
}

main {
  max-width: 30rem;
  padding: 0 2rem 2rem 2rem;
}

code {
    padding: 2rem;
    overflow: auto;
}

code, code span {
    font-size: .8rem !important;
}

a, a:link, a:visited, a:active, a:hover {
    color: rgb(255, 77, 6);
    text-decoration: none;
}

a:hover {
    border-bottom: 1px solid rgb(255, 77, 6);
}

#contact-links {
    list-style: none;
    padding: 0;
}

#contact-links > li {
    display: inline;
    margin-right: .5em;
}


.post-meta,
.post-meta * {
    font-size: .9rem;
    font-family: 'Roboto', sans-serif;
}

.post-title {
    margin-bottom: .5rem;
}

.image-caption {
    color: #777;
    margin-bottom: 1.5em;
    display: block;
}
